<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    
</head>
<body>
    

    
</body>
</html>
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Assets/stylesheets/foundation.min.css")
  @Scripts.Render("~/Assets/javascripts/modernizr.foundation.js")
</head>
<body>
  @RenderBody()
  
  @RenderSection("scripts", required: false)
  @Scripts.Render("~/Assets/javascripts/jquery.js")
  @Scripts.Render("~/Assets/javascripts/foundation.min.js")
  @Scripts.Render("~/Assets/javascripts/app.js")

    <script>
    $(window).load(function(){
      $("#featured").orbit();
    });
    </script> 
  
</body>
</html>
